html {
  scroll-behavior: smooth;
}

::selection {
  background: #00b0ff;
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #00b0ff;
  border-radius: 15px;
}

::-webkit-scrollbar-track {
  background: #a5c0ce;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif;
}

.active {
  color: #4fc3f7;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  transition: 0.3s cubic-bezier(0, 0.54, 1, 1);
}

@media (max-width: 640px) {
  header {
    height: 105px;
  }
}

.home {
  height: calc(100vh - 70px);
}

.skills {
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.skills .skill {
  display: flex !important;
  align-items: center;
  gap: 10px;
}

@keyframes pulse {
  0% {
    background-color: #00b0ff;
  }
  100% {
    background-color: white;
  }
}
