html {
  scroll-behavior: smooth;
}

body {
  font-family: "poppins", sans-serif;
}

.active {
  color: #4fc3f7;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  transition: 0.3s cubic-bezier(0, 0.54, 1, 1);
}

@media (max-width: 640px) {
  header {
    height: 105px;
  }
}

.home {
  height: calc(100vh - 70px);
}
