html {
  scroll-behavior: smooth;
}

::selection {
  background: #00b0ff;
  color: white;
}

/* Custom Scrollbar */
*::-webkit-scrollbar {
  width: 4px;
  height: 8px;
  background-color: #4b4b4b;
}

*::-webkit-scrollbar-thumb {
  background-color: #00b0ff;
  border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif;
}

.active {
  color: #4fc3f7;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  height: 75px;
  transition: all 0.3s cubic-bezier(0, 0.54, 1, 1);
}

header.scrolled {
  height: 60px;
}

header img {
  transition: all 0.3s cubic-bezier(0, 0.54, 1, 1);
}

header.scrolled img {
  width: 60px;
}

.home {
  height: calc(100vh - 70px);
}

.skills {
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.skills .skill {
  display: flex !important;
  align-items: center;
  gap: 10px;
}

@keyframes pulse {
  0% {
    background-color: #00b0ff;
  }
  100% {
    background-color: white;
  }
}

.cursor {
  display: inline-block;
  width: 3px;
  height: 1.2em;
  background-color: #00b0ff;
  margin-left: 2px;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  50%,
  80% {
    opacity: 1;
  }
  40%,
  60%,
  60%,
  100% {
    opacity: 0;
  }
}

.spinner {
  --size: 30px;
  --first-block-clr: #00b0ff;
  --second-block-clr: #e29172;
  --clr: #111;
  width: 100px;
  height: 100px;
  position: relative;
}

.spinner::after,
.spinner::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  width: var(--size);
  height: var(--size);
  top: 50%;
  animation: up 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
  left: 50%;
  background: var(--first-block-clr);
}

.spinner::after {
  background: var(--second-block-clr);
  top: calc(50% - var(--size));
  left: calc(50% - var(--size));
  animation: down 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
}

@keyframes down {
  0%,
  100% {
    transform: none;
  }

  25% {
    transform: translateX(100%);
  }

  50% {
    transform: translateX(100%) translateY(100%);
  }

  75% {
    transform: translateY(100%);
  }
}

@keyframes up {
  0%,
  100% {
    transform: none;
  }

  25% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(-100%) translateY(-100%);
  }

  75% {
    transform: translateY(-100%);
  }
}
